@model MovieRental.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.DateReleased)
        @Html.TextBoxFor(c => c.DateReleased, "{0:d MMM yyyy}")
        @Html.ValidationMessageFor(m => m.DateReleased)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.GenreId)
        @Html.DropDownListFor(c => c.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre")
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.QuantStock)
        @Html.TextBoxFor(c => c.QuantStock)
        @Html.ValidationMessageFor(m => m.QuantStock)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}


@section Scripts
{
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}
